events {
    worker_connections 1024;
}

http {
    include mime.types;
    sendfile on;

    server {
        listen 80;
        listen [::]:80;
        
        autoindex off;

        server_name _; 

        root /app;
        gzip_static on;

        index index.html;
        location / {
            try_files $uri $uri/ /index.html;
        }
    }
}